{% extends "inbase.html" %}

{% block content %}
<br><br><br><br><br>
<div class="container">
	<div class="container" style="background-color: white;">
		<div class="p-l-55 p-r-55 p-t-65 p-b-50">
			<div class="row">
				<div class="col-md-8">
          <span class="login100-form-title p-b-10">
            What are your symptoms?
          </span>
					<div class="sansserif" style="font-family: Montserrat, serif;">

						<div class="wrap-input100 validate-input m-t-17"
							 data-validate="Valid email is required: ex@abc.xyz">
							<input class="input100" type="text" id="disease_search" name="symptoms"
								   placeholder="Search for symptoms!">
							<span class="focus-input100-1"></span>
							<span class="focus-input100-2"></span>
						</div>
					</div>


					<br>
					<form class="login100-form validate-form" action="{% url 'check_disease' %}" method="POST">
						{% csrf_token %}
						<div class="container-login100-form-btn m-t-20">
							<button class="login100-form-btn" type="submit">
								Submit
							</button>
						</div>

						<div id="list" style="margin-top: 50px; font-family: Montserrat, serif; font-size:17px ;">

						</div>
					</form>
				</div>

				<div class="col-md-4 p-l-14"><br>
					{% if result %}
					<span class="login100-form-title p-b-10" style="font-family: Montserrat, serif;">
            Results
          </span>

					<div class="card border-primary" style="border: 1px solid rgb(202, 202, 202); padding: 15px; border-radius: 10px; font-family: Montserrat, serif;">
						<div class="card-header">
							<h3 style="margin-top: 10px; font-family: Montserrat, serif; font-size: 25px;">Prediction</h3><br>
						</div>
						<div class="card-body">
							<h4 class="card-title p-b-2" >Patient Name:</h4> <h4><span class="h4" style="margin-top: 15px; font-family:Montserrat, serif; font-weight: 400; ">{{ user.fname }} {{ user.lname }}</span></h4>
							<h4 class="card-subtitle mb-2 " >Age: <span class="h4">{{ user.age }}</span> &emsp; Gender: <span class="h4">{{ user.gender }}</span></h4>

							<ul class="list-group list-group-flush">
								<br>
								<li class="list-group-item text-black" style="background-color: rgb(0, 132, 240); color:white;">Selected Symptoms:</li>
								{% for i in symptoms %}
								<li class="list-group-item text-black">{{ i }}</li>
								{% endfor %}
							</ul>
							<h4 style="font-family: Montserrat, serif;">Disease: </h4>
							<h4 style="font-family: Montserrat, serif; color: black; border: 1px solid rgb(202, 202, 202); padding:8px; border-radius: 10px;" class="h4">{{ result }}</h4><br>
							<h4><a href="{% url 'doctor' %}" class="btn btn-primary">Search For Doctor</a></h4>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<script>

		const filter = document.querySelector('#disease_search');
		filter.addEventListener('keyup', filterTasks);

		loadDiseases();

		function loadDiseases(e) {
			const xhr = new XMLHttpRequest();

			xhr.open('GET', '/static/json/symptoms.json', true);

			xhr.onload = function () {
				if (this.status === 200) {
					const symptoms = JSON.parse(this.responseText);

					let output = ''; // Initialize properly


					symptoms.forEach(function (symptoms) {
						console.log(symptoms.id)
						output += `
                <ul><li class='collection-item' style='color:black; padding-bottom: 10px;' ><input  type='checkbox' Text='${symptoms.name}' name='disease'= value='${symptoms.id}' style:"">&emsp; ${symptoms.name}<br></li></ul>
            `;
					});
					document.getElementById('list').innerHTML = output;
				}
			}
			xhr.send();
		}


		function filterTasks(e) {
			const text = e.target.value;

			const search_value = text.charAt(0).toUpperCase() + text.toLowerCase().slice(1);
			document.querySelectorAll('.collection-item').forEach(function (task) {
				const item = task.textContent;
				if (item.indexOf(search_value) != -1) {
					task.style.display = 'block';
				} else {
					task.style.display = 'none';
				}
			});
		}

	</script>
	{% endblock %}
